{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Modifier l'utilisateur : {{ user.username }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<h1>Administration des Utilisateurs</h1>
<h2>Modifier l'utilisateur : {{ user.username }}</h2>
<div class="login-container">
    <form method="POST">
		<div class="form-group">
			<label for="username">Nom d'utilisateur :</label>
			<input type="text" id="username" name="username" value="{{ user.username }}" required>
		</div>
        
		<div class="form-group">
			<label for="email">Email :</label>
			<input type="email" id="email" name="email" value="{{ user.email }}" required>
		</div>
        
		<div class="form-group">
			<label for="password">Mot de passe :</label>
			<input type="password" id="password" name="password" value="{{ user.password }}" required>
		</div>
        
		<div class="form-group">
			<label for="role">Rôle :</label>
			<select id="role" name="role">
				<option value="user" {% if user.role == 'user' %}selected{% endif %}>Utilisateur</option>
				<option value="admin" {% if user.role == 'admin' %}selected{% endif %}>Administrateur</option>
			</select>
		</div>
        
        <button type="submit">Modifier</button>
    </form>
</div>
{% endblock %}